* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #e7ebff;
}

header {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-size: 70px;
    color: #4259cf;
}

p {
    font-size: 25px;
    color: #5f73d3;
}

.sound {
    display: flex;
    background-color: #e7ebff;
    z-index: 1;
}

.sound>div {
    width: 100px;
    height: 200px;
    flex: 1;
    transition-duration: 1s;
    z-index: 1;
}

.sound>div:hover {
    opacity: 0.5;
    transform: translateY(-25px) scaleY(1.2);
    cursor: pointer;
}

.pad1 {
    background-color: #0350a8;
}

.pad2 {
    background-color: #afdbff;
}


.pad3 {
    background-color: #0d89d1;
}

.pad4 {
    background-color: #60a0db;
}

.pad5 {
    background-color: #4259cf;
}

.anime>div {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@keyframes bubbleFly {
    0% {
        bottom: 0%;
        left: 15%;
    }

    50% {
        bottom: 47%;
        left: 47%;
    }

    100% {
        bottom: 0%;
        left: 85%
    }
}